@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* .......tag selector...... */
nav {
  margin-right: 100px;
}

nav ul {
  list-style-type: none;
  float: right;
}
nav ul li {
  display: inline-block;
  margin: 40px 20px;
}
a {
  text-decoration: none;
  background-color: #ff8063;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  display: inline-block;
  color: white;
}

/* .........class selector......... */
.white-space {
  margin: 0 100px;
}
.bio-area {
  clear: both;
  padding: 100px 0;
}
.bio-area h1 {
  font-size: 50px;
}
.bio-area p {
  margin: 20px 0;
  color: dimgray;
}
.high-light {
  color: #ff8063;
}

/* ------bio section---------- */
.half-width {
  width: 40%;
  float: left;
}
.bio-area img {
  width: 65%;
  position: relative;
  bottom: 120px;
  margin-left: 200px;
}
.middle-section {
  clear: both;
}
.middle-section h1 {
  margin: 40px 0;
}
.middle-section p {
  margin: 30px 0;
}
.about {
  float: right;
  width: 35%;
  margin-right: 150px;
}
.about p {
  color: dimgray;
}
.middle-section img {
  width: 65%;
  position: relative;
  bottom: 70px;
  margin-right: 50px;
}
.work {
  clear: both;
  background-color: #f9fcfb;
}
.projects {
  margin: 0 3%;
}
.work h1 {
  text-align: center;
  padding-top: 60px;
}
.work img {
  width: 100%;
  /* margin: 0 100px; */
}

.one-third-width {
  width: 30%;
  display: inline-block;
  margin: 60px 20px;
}
.work p {
  margin: 6px 0;
  color: dimgray;
}
.work h3 {
  margin: 20px 0;
}
/* .chat-button {
  background-color: #5d69e9;
  padding: 40px 60px;
}

footer span {
  padding: 10px 10px;
  display: inline-block;
  background-color: #ff8063;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 40px;
}
footer {
  text-align: center;
  margin: 40px 0;
  margin-left: 100px;
} */
footer img {
  width: 40%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  position: relative;
}
footer h1 {
  position: absolute;
  top: 60px;
  left: 480px;
  color: white;
}
footer a {
  position: absolute;
  top: 50px;
  right: 500px;
}
