@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* .......tag selector...... */
nav {
  margin-right: 100px;
}

nav ul {
  list-style-type: none;
  float: right;
}
nav ul li {
  display: inline-block;
  margin: 40px 20px;
}
a {
  text-decoration: none;
  background-color: #ff8063;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  display: inline-block;
  color: white;
}

/* .........class selector......... */
.bio-area {
  clear: both;
  margin: 0 50px;
}
.bio-area h1 {
  font-size: 50px;
}
.bio-area p {
  margin: 20px 0;
  color: dimgray;
}
.high-light {
  color: #ff8063;
}
